*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.module {
  margin: 0 100px 50px;
}

/* Task 1 */

.taskOne {
  width: 500px;
}

.taskOne > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 50px 0;
}

.item {
  margin-right: 50px;
}

/* task 3 */

.taskThree ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.taskThree li:not(:last-child) {
  margin-bottom: 50px;
}

.taskThree img {
  width: 500px;
}

/* task 4 */

.taskFour div {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.taskFour button {
  width: 200px;
  height: 50px;
}

.taskFour span {
  font-size: 30px;
}

/* Task 6 */

#validation-input {
  border: 3px solid #bdbdbd;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
