*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

/* task 3 */

.taskThree ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.taskThree li:not(:last-child) {
  margin-bottom: 50px;
}

.taskThree img {
  width: 500px;
}
